*{
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
}
.vertical-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
html {
  font-size: 62.5%;
}
body {
  background: #efefef;
}
.row {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin: 0rem;
}
.calendar {
  display: block;
  background: #ffffff;
  width: 300px;
  margin: 10px auto;
  font-size: 1.3rem;
  text-align: center;
}
.calendar header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #ffffff;
  cursor: default;
  font-size: 1.4rem;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calendar header .month-display {
  -webkit-box-align: center;
  align-items: center;
  height: 40px;
  background: #2875c7;
}
.calendar header .month-label {
  -webkit-box-flex: 1;
  flex: 1;
}
.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.calendar header .arrow:hover {
  background: #1f5c9d;
}
.calendar .week {
  border-top: solid 1px #cccccc;
}
.calendar .week:first-child {
  border-top: none;
}
.calendar .day-names {
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}
.calendar .day-names .day {
  cursor: default;
}

.calendar .day {
  display: -webkit-box;
  display: flex;
  color: white;
  background-color: #212121;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1;
  height: 35px;
  border-left: solid 1px #cccccc;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.calendar .day:hover {
  background: #1E88E5;
}
.calendar .day:first-child {
  border-left: none;
}
.calendar .day.today {
  background: #212121;
}
.calendar .day.different-month {
  color: #424242;
}
.calendar .day.selected {
  background: #311B92;
  color: #ffffff;
}
div.month-display.row{
  margin: 0rem;
}

div.row.day-names{
  margin: 0rem;
}

div.row.week{
  margin: 0rem;
}